body {
  text-align: center;
}
h1 {
  border-bottom: 2px solid #ccc;
}
input,
button {
  padding: 5px 10px;
}

.liste {
  margin-top: 15px;
  margin-bottom: 15px;
}

.temizle {
  width: 230px;
}

.yapildi {
  text-decoration: line-through;
  color: #8a8a6a;
}
